body{
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

#nav{
    list-style-type: none;
    line-height: 2.5rem;
}
