header{
    position: relative;
    padding: 10px 30px 10px 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid pink;
    background-color: #fff;
    font-size: 16px;
    z-index: 20;
}

#logo{
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 28.8px;
    font-weight: 500;
    cursor: pointer;
}

ul{
    display: flex;
    
}

li{
    padding-right: 2rem;
}

.arrow{
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    margin-right: -14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #4f5959;
    
}

.search-query{
    height: 1.875rem;
    line-height: 1.875rem;
    box-sizing: border-box;
    background: url("/images/search.png") 8px 5px no-repeat;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #273849;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    background: #fff url("/images/search.png") 8px 5px no-repeat;
    background-size: 20px;
    opacity: 0.5;
    vertical-align: middle !important;
    cursor: text;
}

.nav-dropdown-container{
    cursor: pointer;
}